.button {
    align-items: center;
    box-sizing: border-box;
    background: #333333;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 40px;
    justify-content: center;
    aspect-ratio: 1;
    width: 100%;
    transition: filter 0.3s ease-in;
    outline: none;
    border: none;
  }
  
  .button:active {
    filter: brightness(250%);
  }
  
  .button.extended2 {
    width: 100%;
    aspect-ratio: 2.2;
    grid-column: 1 / span 2;
    border-radius: 57.5px;
    position: relative;
    padding-left: 18%;
    justify-content: flex-start;
  }
  
  .button.gray {
    color: black;
    background: #a5a5a5;
  }
  
  .button.yellow {
    background: #fb9505;
  }