.wrapper {
  width: 480px;
  height: 748px;
  padding: 20px;
  border-radius: 10px;
  background-color: #000000;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-around;
}
