.wrapper {
  padding: 20px;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0;
  justify-content: space-around;
}
