.wrapper {
  height: 748px;
  padding: 20px;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: space-around;
}
